<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../js/lib/socket.io.min.js"></script>
    <script src="../js/lib/phaser.js"></script>
</head>

<body>
    <script type="module" src="../js/Game/Card/TableCardView.js"></script>
    <script type="module" src="../js/Game/Card/HandCardView.js"></script>
    <script type="module" src="../js/Game/Card/CardInputController.js"></script>
    <script type="module" src="../js/Game/TimerView.js"></script>
    <script src="../js/Game/Scenes/BootstrapScene.js" type="module"></script>
    <script src="../js/Game/Scenes/BattleScene.js" type="module"></script>
    <script src="../js/Game/game.js" type="module"></script>
</body>

</html>